.body{
    background-image: url(../img/4tCRA93iBVo.jpg);
}
.menu {
    font-size: medium;
    text-align: center;
}
.index{
    font-size: large;
}
.h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkcyan;
}
.parrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
}

